<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>anyfetch</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2873B983-23FE-4EEA-86B9-3F33D684C24E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3BBC21C-92EA-43FD-9C91-EA2998C8646F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A84E46D0-397A-4D26-AE98-4E006A5D3122</key>
		<array/>
		<key>AEAB679F-1355-48E8-A0D1-D24D045E5418</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A84E46D0-397A-4D26-AE98-4E006A5D3122</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EBE1BE23-625F-4B47-B195-CD5D75399AA7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A84E46D0-397A-4D26-AE98-4E006A5D3122</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tanguy Hélesbeux</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AnyFetch</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D3BBC21C-92EA-43FD-9C91-EA2998C8646F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>65</integer>
				<key>keyword</key>
				<string>fetch</string>
				<key>runningsubtext</key>
				<string>Fetching documents...</string>
				<key>script</key>
				<string>./anyfetch.py {query} </string>
				<key>subtext</key>
				<string>Find any document with AnyFetch</string>
				<key>title</key>
				<string>AnyFetch</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2873B983-23FE-4EEA-86B9-3F33D684C24E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fetch:token</string>
				<key>script</key>
				<string>./set_settings.py token {query} </string>
				<key>subtext</key>
				<string>You can find your token on manager.anyfetch.com</string>
				<key>title</key>
				<string>Set AnyFetch token</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EBE1BE23-625F-4B47-B195-CD5D75399AA7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./settings.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A84E46D0-397A-4D26-AE98-4E006A5D3122</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fetch:env</string>
				<key>script</key>
				<string>./set_settings.py env {query} </string>
				<key>subtext</key>
				<string>Use 'api' or 'api-staging'</string>
				<key>title</key>
				<string>Set AnyFetch environment</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AEAB679F-1355-48E8-A0D1-D24D045E5418</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2873B983-23FE-4EEA-86B9-3F33D684C24E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A84E46D0-397A-4D26-AE98-4E006A5D3122</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>AEAB679F-1355-48E8-A0D1-D24D045E5418</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>D3BBC21C-92EA-43FD-9C91-EA2998C8646F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>EBE1BE23-625F-4B47-B195-CD5D75399AA7</key>
		<dict>
			<key>ypos</key>
			<real>210</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
